@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.btn-primary {

    background-color:#FD6E0A; 
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
   margin-right: 20px;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}


nav ul {

    display: flex;
    align-items: center;
}


nav ul li{

list-style: none;
margin-right: 50px;

}

nav ul a{

    text-decoration: none;
    
    }

    .dark2 {

       color: #474747; 
    }

    .header {

        background-image: url('../images/developer.png'), url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-position: top left, bottom right;
    }
    

.text-primary {

    color: #FD6E0A;

}

.description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;

}

.banner-content {
    max-width: 580px;
}

.banner-greeting { 

    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;

}

.banner-title {

    font-size: 85px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}

.banner-profile-pic {

    width: 584px;

}

.section-tittle {

    color: #181818;
    font-size: 35px;
    font-weight: bold;

}


.secondary-bg {
    background-color: #f3f3ff;
}
